gdal>=3.12.4
numpy>=2.0.0
netCDF4>=1.7.4
ujson>=5.4.0
numba>=0.64.0
scipy>=1.15.3
# GDAL
numexpr>=2.7.1
importlib-metadata>=5.0.0
pyproj>=3.7.1
setuptools<82

# dask packages for parallel interpolation
dask[bag]
dask[array]
toolz
eccodes
lisflood-utilities
