netCDF4>=1.5.3
ujson==2.0.1
numpy>=1.17.2
scipy>=0.16.0
# GDAL
numexpr>=2.4.6
# eccodes-python  # replacing old GRIB API

# dask packages for parallel interpolation
dask[bag]
dask[array]
toolz
eccodes-python==0.9.7
