gdal<=3.5.3
netCDF4>=1.7.2
ujson
numpy>=1.18.2,<2.0.0
scipy>=0.16.0
# GDAL
numexpr>=2.4.6
eccodes-python  # replacing old GRIB API
pyproj>=3.7.1

# profiling
memory_profiler
psutil

# dask packages for parallel interpolation
dask[bag]
dask[array]
toolz

pytest
pytest-coverage
lisflood-utilities
