ujson
xmljson
numpy>=1.10.1
scipy>=0.16.0
GDAL
memory_profiler
psutil
# numexpr>=2.4.6
# pip install numexpr separately otherwise won't find numpy

# dask packages for parallel interpolation
dask[bag]
dask[array]
toolz
